@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #F4F4F5;
  background-color: #334155;
}

li {
  list-style: none;
}
.apexcharts-toolbar {
  background-color: #334155;
}

.apexcharts-menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #334155;
}